<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">User Name</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (user of users; track user.id) {
    <tr>
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button class="btn btn-danger" (click)="handleDelete(user.id)">
          Xoá
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
