<form (ngSubmit)="onSubmit()" [formGroup]="formAuth">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email </label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      formControlName="email"
    />
    <p class="text-danger" *ngIf="formAuth.get('email')?.hasError('required')">
      Email là bắt buộc
    </p>
    <p class="text-danger" *ngIf="formAuth.get('email')?.hasError('email')">
      Email không đúng định dạng
    </p>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      formControlName="password"
    />
    <p
      class="text-danger"
      *ngIf="formAuth.get('password')?.hasError('required')"
    >
      Password là bắt buộc
    </p>
    <p
      class="text-danger"
      *ngIf="formAuth.get('password')?.hasError('minlength')"
    >
      Password ít nhất là 6 ký tự
    </p>
  </div>

  <button type="submit" class="btn btn-primary">Đăng ký</button>
</form>
